/* Fonts start here */

.inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 2rem;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 2rem;
}

.goudy-regular {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
}


.host-grotesk-regular {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Root starts here */

:root {
    font-family: "Goudy Bookletter 1911", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 2rem;
}

h2, h3 {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(auto, 10%));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: start;
 }

body {
    padding: 3rem;
}

footer {
    text-align: center;
    font-size: smaller;
}


